<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
    <TargetPlatform>x86</TargetPlatform>
    <TargetFrameworkVersion>.NETFramework,Version=v4.7</TargetFrameworkVersion>
  </RunConfiguration>
  <MSTestV2>
    <DeployTestSourceDependencies>false</DeployTestSourceDependencies>
  </MSTestV2>
</RunSettings>
