<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
   <appSettings>
    <!--Uncomment to change the default time out of 60 seconds for a single Boolean Operation-->
    <!--<add key="BooleanTimeOut" value="5.0"/>-->
   <!--<add key="IgnoreIfcSweptDiskSolidParams" value="true"/>-->
  </appSettings>
  <!--<runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>-->

</configuration>
