<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="ManagedEsent" version="1.9.4" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="Xbim.Essentials" version="4.0.30-V033" targetFramework="net40" />
</packages>