<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AK.System.Linq.Dynamic" version="1.1.20.1" targetFramework="net47" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net47" />
  <package id="FluentValidationNA" version="1.2.16" targetFramework="net47" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.4.1" targetFramework="net47" />
  <package id="IntelliFactory.FastInvoke" version="0.0.6" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Console" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net47" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net47" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net47" />
  <package id="System.Collections" version="4.3.0" targetFramework="net47" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net47" />
  <package id="System.Console" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net47" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net47" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq.Parallel" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net47" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net47" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net47" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net47" />
  <package id="Xbim.Aim" version="5.0.0-Beta-449" targetFramework="net47" />
  <package id="Xbim.Aim.Edm" version="1.0.1-ci-20171005-135102" targetFramework="net47" />
  <package id="Xbim.Common" version="5.0.0-Beta1-1080" targetFramework="net47" />
  <package id="Xbim.Geometry.Helpers" version="5.0.0-Beta-437" targetFramework="net47" />
  <package id="Xbim.Ifc2x3" version="5.0.0-Beta1-1082" targetFramework="net47" />
  <package id="Xbim.Ifc2x3.Extensions" version="5.0.0-Beta-418" targetFramework="net47" />
  <package id="Xbim.Ifc4" version="5.0.0-Beta1-1081" targetFramework="net47" />
  <package id="Xbim.IO.FileModel" version="5.0.0-Beta-421" targetFramework="net47" />
  <package id="Xbim.IO.MemoryModel" version="5.0.0-Beta-419" targetFramework="net47" />
  <package id="Xbim.Tessellator" version="5.0.0-Beta1-1089" targetFramework="net47" />
</packages>